<div class="mx-4">
  <h1>ホームページ</h1>
  <p>あなたのホームページです。</p>
  <a href="/users/show">プロフィール</a>
  <br/>
  <a href="/tasks">タスク</a>
  <br/>
  <a href="/notes">メモ</a>
  <br/>
  <a href="/groups">グループ</a>
</div>