<div id="<%= dom_id note %>" class="card m-4" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title"><strong><%= note.title %></strong></h4>
    <p class="card-text"><%= note.description %></p>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  </div>
</div>
